<nav class="flex justify-between items-center p-3">
  <div>
    <a href="">Ecommerce</a>
  </div>
  <ul class="flex justify-between items-center">
    <li class="pr-3">
      <a routerLink="productcategories">Product Categories</a>
    </li>
    <li class="pr-3"><a routerLink="products">Products</a></li>
    <li class="pr-3">
      <a routerLink="productcategories/add">Add Product Category</a>
    </li>
    <li class="pr-3"><a routerLink="products/add">Add Product</a></li>
    <li><a href="">Login</a></li>
    <li class="pl-3"><a href="">Register</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
